body{
  font-size:100%;
  padding:0;
  margin:0;
  font-family: 'Roboto', sans-serif;
}
/*=================RESET STYLES ================*/
ul{
  padding:0;
  margin:0;
}
ul li{
  list-style: none;
}
a{
  text-decoration: none;
}
a:hover{
  color:inherit;
}
.clearfix:after{
  clear: both;
  content: "";
  display: table;
}
/*=================END RESET STYLES==============*/
.padding80{
  padding-top:80px;
  padding-bottom:80px;
}
.relative{
  position: relative;
}
.main-container{
  width:80%;
  margin:0 auto;
}
.header-container{
  width:80%;
  margin:0 auto;
}
.content-container{
  width:59%;
  display: inline-block;
  box-sizing: border-box;
}
.footer-container{
  width:80%;
  margin:0 auto;
}
.leftaside{
  width:20%;
  display: inline-block;
  box-sizing: border-box;

}
.rightaside{
  width:20%;
  display: inline-block;
  box-sizing: border-box;
}
.container{
  width:80%;
  margin:0 auto;
  box-sizing: border-box;
}
.col-4{
  width:24%;
  box-sizing: border-box;
  padding-left: 5px;
  padding-right: 5px;
  display: inline-block;
}
/*======= NAVIGATION ======*/
nav{
  padding:15px 0;
  box-sizing: border-box;
}
#logo{
  float:left;

}
#logo span{
  padding:5px 0;
}
#menuLeft{
  float:right;
  position: relative;
}
#menuLeft ul li{
  display: inline-block;
  margin-left: 5px;
}
#menuLeft ul li a{
  padding:5px;
  text-transform: uppercase;
}
#getStarted{
  color:#fff;
  border-radius: 20px;
}
.mobMenu{
  display: none;
  position: absolute;
  right: 10px;
  top:7px;
  font-size:2em;
  cursor: pointer;
}
/*======= END NAVIGATION ===*/
/*=======HEADER ============*/
header{
  text-align: center;
  color:#fff;
}
header h1{
  font-size:2.5em;
  text-transform: uppercase;
}
#headerBG{
  background:url('../img/header-background.jpg') no-repeat center center;
  background-size:cover;
  background-attachment: fixed;
}
.headerZindex{
  z-index:5;
}
.overlay{
  position: absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  z-index:0;
}
.overlayGreen{
  background-color:rgba(13,93,92,0.4);
}
/*=========END HEADER =======*/



/*================MEDIA QUERIES ==============*/
@media only screen and (max-width: 780px) {
  	.mobMenu{
      display: inline-block;
    }
    #menuLeft{
      display: none;
      float:none;
      clear:both;
      text-align: center;
    }
    #menuLeft ul li{
      display: block;
      padding:5px;
    }
}
